body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* top banner design */

#top-banner{
    background-image: url(/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#banner-text{
    color: white;
    text-align: center;
    padding: 15%;
}
#banner-text h1{
    font-weight: 700;
    font-size: 65px;
    margin: auto;
}
.btn-color{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 10px 15px;
    border-radius: 5px;
}
#banner-text p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}
 /* top banner ended */
/* donation area section */

.donation-area{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.donation-area h1{
    font-weight: 700;
    font-size: 45px;
}
.donation-area p{
    font-size: 18px;
    color: #707070;
}
.donation-area button{
    width: 135px;
    height: 123px;
    margin: 50px 10px 50px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    border: hidden;
} 
.donation-area button:hover{
    border: 2px solid #FF5959;
    color: #FF5959;
    background-color: #FFEEEE;
}
#donation-amount{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 765px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

/* our donation plan section */
#donate-plan-text{
    text-align: center;
}
#donate-plan-text h1{
    font-weight: 700;
    font-size: 45px;
}
#donate-plan-text p{
    color: #707070;
    font-size: 18px;

}
.donation-plan-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 150px;
}
.donation-card-width{
    width: 260px;
    height: 250px;
    border-radius: 5px;
    margin: 12px;
    padding: 55px 28px;
}
.donation-card-width img{
    width: 58.13px;
    height: 49.77px;
}
#food-card-color{
    background: rgba(79, 157, 166, 0.1);
}
#family-card-color{
    background: rgba(255, 89, 89, 0.1);
}
#edu-card-color{
    background: #f9f2df;
}